{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Register{% endblock %}
{% block body %}
<div class="content">
  <div class="mdc-elevation--z8 padding-0 margin--top-40 login mdl-color--white">
    <div class="padding--top-24 text-center">
        <img src="{% static "front/img/optimised.svg" %}" alt="logo">
        <span class="logo mdl-color-text--blue-grey-700">Sci Log</span>
    </div>
    <h1 class="mdc-typography--display2 mdl-color--blue-300 mdl-color-text--white login--message">
      WELCOME!
    </h1>
    <h1 class="mdc-typography--headline mdl-color-text--light-blue-500 login--message">
        Thank you for joining SciLog!
        <p class="login--message login--message mdc-typography--body1 mdl-color-text--blue-grey-900">Only one step to go. Please check your email for the activation link.</p>
    </h1>
  </div>
</div>
  {% endblock %}
  {% block post_load %}
  {% endblock %}
