{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Page not found{% endblock %}
{% block body %}
<div class="content">
  <div class="mdc-elevation--z4 padding-0 margin--top-40 login simple-grid">
    <div class="padding--top-24 text-center">
        <img src="{% static "front/img/optimised.svg" %}" alt="logo">
        <span class="logo mdl-color-text--blue-grey-700">Sci Log</span>
    </div>
    <h1 class="mdc-typography--display4 mdl-color--blue-300 mdl-color-text--white login--message">
      404 - Science Not Found
    </h1>
    <h1 class="mdc-typography--headline mdl-color-text--light-blue-500 login--message">
        Are you lost?
        <p class="login--message login--message mdc-typography--body1 mdl-color-text--blue-grey-900">We could not find the page: {{ request.path }}</p>
        <a class="mdc-button mdl-color-text--blue-grey-600 margin--top-24"
           href="{% url 'home_page' %}"
           data-mdc-auto-init="MDCRipple">
          <i data-content="open-close-icon" class="material-icons mdl-color-text--light-blue-500">arrow_forward</i>
          <span data-content="open-close-text">Go home</span>
        </a>
    </h1>
  </div>
</div>
{% endblock %}
