{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - Welcome{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<div class="content">
{% include "base/drawer.html" %}
  <div class="main-grid">
    <div class="mdc-layout-grid home">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdc-typography--display4 mdl-color-text--light-blue-500">
          Hello,<br />
          <span class="mdc-typography--display3 ">welcome to SciLog!</span>
        </h1>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h1 class="mdc-typography--headline">
          Quickstart guide
        </h1>
        <ul class="mdc-list">
          <li class="mdc-list-item">Introduction</li>
          <li class="mdc-list-item">Using SciLog</li>
          <li class="mdc-list-item">Frequently asked questions</li>
          <li class="mdc-list-item"><a href="https://github.com/CLGinc/SciLog">Github Repo</a></li>
        </ul>
      </div>
      <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-6 padding-0 margin--none">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--headline">
          <h1 class="mdc-typography--headline">
            Overview
          </h1>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 text-center">
          <h1 class="mdc-typography--heading mdl-color-text--light-blue-500">
            {{ number_of_projects }}
          </h1>
          <h1 class="mdc-typography--subheading2">
            PROJECTS
          </h1>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 text-center">
          <h1 class="mdc-typography--heading mdl-color-text--light-blue-500">
            {{ number_of_protocols }}
          </h1>
          <h1 class="mdc-typography--subheading2">
            PROTOCOLS
          </h1>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 text-center">
          <h1 class="mdc-typography--heading mdl-color-text--light-blue-500">
            {{ number_of_invitations }}
          </h1>
          <h1 class="mdc-typography--subheading2">
            PENDING INVITATIONS
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
{% endblock %}
