<div class="fixed-action-btn">
  <a class="mdc-fab material-icons mdl-color--red-A400" data-mdc-auto-init="MDCRipple">
    <span class="mdc-fab__icon">
      add
    </span>
  </a>
  <!-- <span><div class="fixed-action-btn-label">Page actions</div></span> -->
  <ul>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--orange-700" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            mode_edit
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Update protocol</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--light-blue-500" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Add result</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--teal-500" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            person_add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Invite participant</div></span>
    </li>
  </ul>
</div>
