<div class="fixed-action-btn" data-trigger="hover">
  <ul class="fixed-action-btn-list">
    <!-- Project actions -->
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--light-blue-500 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Create project</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--orange-700 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            mode_edit
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Update project</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--light-green-700 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            assignment
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Add protocol to project</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--blue-grey-500 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            note_add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Add source to project</div></span>
    </li>
    <!-- Protocol actions -->
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--light-blue-500 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Create protocol</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--orange-700 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            mode_edit
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Update protocol</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--light-green-700 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            playlist_add_check
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Create result</div></span>
    </li>
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--orange-700 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            mode_edit
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Update result</div></span>
    </li>
    <!-- Invitation -->
    <li>
      <div>
        <a class="mdc-fab mdc-fab--mini material-icons mdl-color--teal-500 fixed-action-btn-list-action" data-mdc-auto-init="MDCRipple">
          <span class="mdc-fab__icon">
            person_add
          </span>
        </a>
      </div>
      <span><div class="fixed-action-btn-label">Invite participant</div></span>
    </li>
  </ul>
  <div class="fixed-action-btn-main-btn">
    <a class="mdc-fab material-icons mdl-color--red-A400" data-mdc-auto-init="MDCRipple">
      <span class="mdc-fab__icon">
        add
      </span>
      <span class="mdc-fab__icon">
        mode_edit
      </span>
    </a>
    <span><div class="fixed-action-btn-label fixed-action-btn-label-main">Page actions</div></span>
  </div>
</div>
