<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SciLog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Sci Log{% endblock %}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/front/img/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "/front/img/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "/front/img/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "/front/img/manifest.json" %}">
    <link rel="mask-icon" href="{% static "/front/img/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "/front/img/favicon.ico" %}">
    <meta name="msapplication-config" content="{% static "/front/img/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.min.css"/>
    <link rel="stylesheet" href="{% static "front/css/custom.css" %}"/>
    <link rel="stylesheet" href="{% static "front/datepicker/css/mdDateTimePicker.css" %}"/>
  </head>
  <body class="mdl-color-text--blue-grey-900">
    {% block body %}
    {% endblock %}
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% block post_load %}
    {% endblock %}
  </body>
</html>
