<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SciLog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <title>{% block title %}Sci Log{% endblock %}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "front/img/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "front/img/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "front/img/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "front/img/manifest.json" %}">
    <link rel="mask-icon" href="{% static "front/img/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- Page styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
      rel="stylesheet"
      type="text/css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link
      rel="stylesheet"
      href="{% static "front/css/base.css" %}"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link
      rel="stylesheet"
      href="{% static "front/css/color.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/css/tabs.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/css/spinner.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/css/progress.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/css/tables.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/css/custom.css" %}"/>
    <link
      rel="stylesheet"
      href="{% static "front/datepicker/css/mdDateTimePicker.css" %}"/>
  </head>
  <body class="mdl-color-text--blue-grey-900 mdc-typography mdl-color--blue-grey-700">
    {% block body %}
    {% endblock %}
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>window.mdc.autoInit();</script>
    <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97553968-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% block post_load %}
    {% endblock %}
  </body>
</html>
