{% load staticfiles %}
<aside class="mdc-temporary-drawer mdc-typography" data-mdc-auto-init="MDCTemporaryDrawer">
  <nav class="mdc-temporary-drawer__drawer">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="/projects/list/">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>PROJECTS LIST
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">report</i>Spam
      </a>
  </nav>
</aside>
