{% load staticfiles %}
<!-- <div class="mdl-layout__drawer mdl-color--grey-100">
  <header class="user-card--drawer">
    <img src="{% static "front/img/ninja.png" %}" class="user-card--avatar">
    <div class="user-card--name">
      <span class="mdl-layout-title">{{ request.user.first_name }} {{ request.user.last_name }}</span>
      <span class="mdl-color-text--grey-600">{{ request.user.researcher.scientific_degree }}</span>
    </div>
  </header>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/projects/list/">PROJECTS LIST</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div> -->
<!-- <nav class="mdc-permanent-drawer drawer-fixed">
  <header class="user-card--drawer">
    <img src="{% static "front/img/ninja.png" %}" class="user-card--avatar">
    <div class="user-card--name">
      <span class="mdl-layout-title">{{ request.user.first_name }} {{ request.user.last_name }}</span>
      <span class="mdl-color-text--grey-600">{{ request.user.researcher.scientific_degree }}</span>
    </div>
  </header>
  <hr class="mdc-list-divider">
  <nav class="mdc-list">
    <a class="mdc-list-item" href="/projects/list/">
      <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>PROJECTS LIST
    </a>
    <a class="mdc-list-item" href="#">
      <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
    </a>
    <a class="mdc-list-item" href="#">
      <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">report</i>Spam
    </a>
  </nav>
</nav> -->
<aside class="mdc-temporary-drawer mdc-typography" data-mdc-auto-init="MDCTemporaryDrawer">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content">
        <img src="{% static "front/img/ninja.png" %}" class="user-card--avatar">
        <div class="user-card--name">
          <span class="mdl-layout-title">{{ request.user.first_name }} {{ request.user.last_name }}</span>
          <span class="mdl-color-text--grey-600">{{ request.user.researcher.scientific_degree }}</span>
        </div>
      </div>
    </header>
    <hr class="mdc-list-divider">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="/projects/list/">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">list</i>PROJECTS LIST
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">report</i>Spam
      </a>
  </nav>
</aside>
