{% load staticfiles %}
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <div class="article width--full empty-states">
    <img src="{% static "front/img/optimised-empty-states.svg" %}" alt="logo">
    <h1 class="mdl-color-text--blue-grey-300 mdc-typography--display1">There are no "VARIABLE" to list</h1>
    <p class="mdl-color-text--blue-grey-400">
      Please update your search criteria and try again, or use the default filter!
    </p>
    <p class="mdl-color-text--blue-grey-400">
      Alternatively, you can ceate a new "VARIABLE" by using the action button in the bottom right corner.
    </p>
  </div>
</div>
