<div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 footer">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300">
        Quickstart guide
      </h1>
      <ul class="mdc-list mdc-typography--body1">
        <li class="mdc-list-item">Introduction</li>
        <li class="mdc-list-item">Using SciLog</li>
        <li class="mdc-list-item">Frequently asked questions</li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300">
        GitHub
      </h1>
      <ul class="mdc-list mdc-typography--body1">
        <li class="mdc-list-item">Introduction</li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300">
        Legal
      </h1>
      <ul class="mdc-list mdc-typography--body1">
        <li class="mdc-list-item">Introduction</li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300">
        Contacts
      </h1>
      <ul class="mdc-list mdc-typography--body1">
        <li class="mdc-list-item">Introduction</li>
      </ul>
    </div>
  </div>
</div>
