<div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 footer">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300 text-light--300">
        QUICKSTART GUIDE
      </h1>
      <ul class="mdc-list mdc-list--dense padding-0">
        <li>Introduction</li>
        <li>Using SciLog</li>
        <li>Frequently asked questions</li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300 text-light--300">
        GitHub
      </h1>
      <ul class="mdc-list mdc-list--dense padding-0">
        <li>
          <a href="https://github.com/CLGinc/SciLog" target="_blank">Project homepage</a>
        </li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300 text-light--300">
        LEGAL
      </h1>
      <ul class="mdc-list mdc-list--dense padding-0">
        <li>Introduction</li>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="mdc-typography--title mdl-color-text--light-blue-300 text-light--300">
        ABOUT US
      </h1>
      <ul class="mdc-list mdc-list--dense padding-0">
        <li>Introduction</li>
      </ul>
    </div>
  </div>
</div>
