{% if paginator.num_pages > 1 %}
  <div class="mdl-cell mdl-cell--12-col mdl-grid" id="paginator">
    <div class="mdl-layout-spacer"></div>
    {% if roles_list_page.has_previous %}
    <a href="?page={{ roles_list_page.previous_page_number }}">
      <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">Previous</button>
    </a>
    {% endif %}
    {% if roles_list_page.number != 1 and roles_list_page.previous_page_number != 1 %}
    <a href="?page=1">
      <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">1</button>
    </a>
    {% endif %}
    {% if roles_list_page.previous_page_number|add:"-1" > 1 %}
    <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600" disabled>
    ...
    </button>
    {% endif %}
    {% if roles_list_page.has_previous %}
    <a href="?page={{ roles_list_page.previous_page_number }}">
      <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ roles_list_page.previous_page_number }}</button>
      <div id="previous_page_number" class="hidden">{{ roles_list_page.previous_page_number }}</div>
    </a>
    {% endif %}
    <button id="current_page_number" class="mdl-button mdl-js-button mdl-button--primary" disabled>
      {{ roles_list_page.number }}
    </button>
    {% if roles_list_page.has_next %}
    <a href="?page={{ roles_list_page.next_page_number }}">
      <button id="next_page_number" class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ roles_list_page.next_page_number }}</button>
    </a>
    {% endif %}
    {% if roles_list_page.next_page_number|add:"1" < paginator.num_pages %}
    <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600" disabled>
    ...
    </button>
    {% endif %}
    {% if roles_list_page.number != paginator.num_pages and roles_list_page.next_page_number != paginator.num_pages %}
    <a href="?page={{ paginator.num_pages }}">
      <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ paginator.num_pages }}</button>
    </a>
    {% endif %}
    {% if roles_list_page.has_next %}
    <a id="paginator_next" href="?page={{ roles_list_page.next_page_number }}">
      <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">Next</button>
    </a>
    {% endif %}
    <div id="total_pages" class="hidden">{{ paginator.num_pages }}</div>
    <div class="mdl-layout-spacer"></div>
  </div>
{% endif %}
