{% load staticfiles %}
<header class="mdc-toolbar mdc-elevation--z6">
  <section class="mdc-toolbar__section mdc-toolbar__section--align-start padding-16 mdl-color--blue-grey-800">
    <button data-mdc-auto-init="MDCRipple" class="menu mdc-button mdc-button--icon mdl-color-text--light-blue-500 mobile-button">
      <i class="material-icons">menu</i>
    </button>
    <div class="mdl-layout-spacer"></div>
    <a href="{% url 'users:home_page' %}">
      <img src="{% static "front/img/optimised.svg" %}" alt="logo">
      <span class="logo mdl-color-text--light-blue-300"><strong>Sci Log</strong></span>
    </a>
    <div class="mdl-layout-spacer"></div>
    <button data-mdc-auto-init="MDCRipple" data-trigger="profile--menu" class="mdc-button mdc-button--icon mdl-color-text--white">
    {% if request.user.avatar %}
      <img src="{{ request.user.avatar }}" height="32px" width="32px"></img>
    {% else %}
      <i class="material-icons">account_circle</i>
    {% endif %}
    </button>
    <div class="mdc-simple-menu profile--menu mdc-elevation--z4"
         tabindex="-1"
         style="top:60px; right: 0;">
      {% if request.user.avatar %}
      <img src="{{ request.user.avatar }}" class="user-card--avatar center">
      {% else %}
      <img src="{% static "front/img/ninja.png" %}" class="user-card--avatar center">
      {% endif %}
      <div class="user-card--name mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <span class="mdl-color-text--grey-900">{{ request.user }}</span><br>
        {% if request.user.scientific_degree %}<span class="mdl-color-text--grey-600">{{ request.user.scientific_degree }}</span>{% endif %}
      </div>
      <hr class="mdc-list-divider margin--top-8 padding-0">
      <ul class="mdc-simple-menu__items mdc-list width--full" role="menu" aria-hidden="true">
        <li class="mdc-list-item" role="menuitem" tabindex="0">
          <a href="{% url 'users:profile_page' %}">
            <button data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600">
              <i class="material-icons mdl-color-text--light-blue-500">person</i> Profile
            </button>
          </a>
        </li>
        <li class="mdc-list-item" role="menuitem" tabindex="0">
          <a href="{% url 'users:logout_user' %}" class="width--full">
            <button data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600">
              <i class="material-icons mdl-color-text--orange-500">power_settings_new</i> Log out
            </button>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>
