{% load staticfiles %}
<header class="header mdc-layout-grid mdl-color--white mdc-elevation--z2">
  <button data-mdc-auto-init="MDCRipple" class="menu mdc-button mdc-button--icon mdl-color-text--blue-500">
    <i class="material-icons">menu</i>
  </button>
  <div class="mdl-layout-spacer"></div>
  <img src="{% static "front/img/optimised.svg" %}" alt="logo">
  <span class="logo mdl-color-text--blue-grey-700">Sci Log</span>
  <div class="mdl-layout-spacer"></div>
  <button data-mdc-auto-init="MDCRipple" class="mdc-button mdc-button--icon mdl-color-text--blue-500">
    <i class="material-icons">power_settings_new</i>
  </button>
</header>
