<header class="mdl-layout__header">
  <div class="mdl-layout__header-row mdl-color--white">
    <div class="mdl-layout-spacer"></div>
    <img src="../static/front/img/optimised.svg" alt="logo">
    <span class="mdl-layout-title mdl-color-text--blue-grey-700">Sci Log</span>
    <div class="mdl-layout-spacer"></div>
    <label id="logout" class="mdl-button mdl-js-button mdl-button--icon" for="search">
      <a href="/logout"><i class="material-icons mdl-color-text--blue-500">power_settings_new</i></a>
    </label>
    <div class="mdl-tooltip" for="logout">
      Bye bye
    </div>
  </div>
</header>
