{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Login{% endblock %}
{% block body %}
  <div class="mdc-layout-grid main-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline mdl-color-text--blue-500 subpageheader">
        My projects
      </h1>
      {% if next_redirect %}
      <form method="post" action="{% url 'login_user' %}?next={{ next_redirect }}">
        {% else %}
        <form method="post" action="{% url 'login_user' %}">
          {% endif %}
          {% csrf_token %}
          <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
            <input class="mdc-textfield__input" id="id_email" maxlength="254" name="email" {% if form.email.data %}value="{{ form.email.value }}"{% endif %} type="text" required />
            <label class="mdc-textfield__label">Email address</label>
            {% if form.errors.email %}
            <div id="id_email_error" class="error-tooltip">
              {% for error in form.errors.email %}
              {{ error|escape }}<br>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
            <input class="mdc-textfield__input" id="id_password" name="password" type="password" required />
            <label class="mdc-textfield__label" for="id_password">Password</label>
            {% if form.errors.password %}
            <div id="id_password_error" class="error-tooltip">
              {% for error in form.errors.password %}
              {{ error|escape }}<br>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <button type="submit" class="mdc-button mdl-color-text--blue-grey-600 button--height-normal" data-mdc-auto-init="MDCRipple">
            <i data-content="open-close-icon" class="material-icons mdl-color-text--blue-500">playlist_add</i>
            <span data-content="open-close-text">Log In</span>
          </button>
        </form>
        {% if form.non_field_errors %}
        <div id="non_field_errors" class="error-tooltip-non">
          {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
          {% endfor %}
        </div>
        {% endif %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <!-- <div class="mdl-textfield mdl-js-textfield">
        <li>
        {% if next_redirect %}
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next_redirect }}">Login with Google</a>
        {% else %}
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
        {% endif %}
      </li>
    </div> -->
  </div>
</div>
{% endblock %}
{% block post_load %}
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% endblock %}
