{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - New project{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<header class="mdc-toolbar mdl-color--light-blue-500 mdc-toolbar--fixed">
  <div class="mdc-toolbar__row padding-16">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a data-mdc-auto-init="MDCRipple"
         class="mdc-button mdl-color-text--white"
         href="{% url 'projects_list' %}">
        <i class="material-icons">close</i>
        <span class="toolbar__button-label">Cancel</span>
      </a>
    </section>
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title">Create new project</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <button data-mdc-auto-init="MDCRipple"
              data-trigger="submit"
              data-form="new-project-form"
              class="mdc-button mdl-color-text--white">
        <i class="material-icons">check</i>
        <span class="toolbar__button-label">Save</span>
      </button>
    </section>
  </div>
</header>
<div class="content">
{% include "base/drawer.html" %}
  <div class="main-grid mdc-elevation--z8 mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline mdl-color-text--light-blue-500 subpageheader">
        Project details
      </h1>
      <form class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none padding-0"
            method="post"
            action="{% url 'create_project' %}"
            id="new-project-form">
        {% csrf_token %}
          {% if form.nonfield_errors %}
            <span class="error">{{ form.nonfield_errors.as_text }}</span>
          {% endif %}
          <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none padding-0">
          <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">
            Name and description
          </p>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <div class="mdc-textfield {% if form.name.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
              <input class="mdc-textfield__input" type="text" id="input-new-project--name" name="name" maxlength="255" {% if form.name.value %}value="{{form.name.value}}"{% endif %}>
              <label class="mdc-textfield__label" for="input-new-project--name">Project name</label>
            </div>
            {% if form.name.errors %}
            <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
              {{ form.name.errors.as_text }}
            </p>
            {% endif %}
            <p id="new-project-name-helptext" class="mdc-textfield-helptext" aria-hidden="true">
              This name will be displayed in the project list and on your project page. Maximum of 255 characters.
            </p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="mdc-textfield mdc-textfield--multiline {% if form.description.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
              <textarea class="mdc-textfield__input" rows="6" type="text" id="input-new-project--desc" name="description" maxlength="1024">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              <label class="mdc-textfield__label" for="input-new-project--desc">Project description</label>
            </div>
            {% if form.description.errors %}
            <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
              {{ form.description.errors.as_text }}
            </p>
            {% endif %}
            <p id="new-project-desc-helptext" class="mdc-textfield-helptext" aria-hidden="true">
              A short project description. Maximum length of 1024 characters.
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% include "base/footer.html" %}
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
<script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
<script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
{% endblock %}
