{% if selected_project.sources.all %}
<ul class="mdc-list padding-0">
  <li class="mdc-layout-grid border--bottom mdl-color-text--light-blue-500 padding-0 margin--none">
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-{% if can_add_items %}9{% else %}10{% endif %} margin--none">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">Name</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">ISBN</div>
    </div>
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">Url</div>
    </div>
    {% if can_add_items %}
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1 center">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Remove</div>
    </div>
    {% endif %}
  </li>
  {% for source in selected_project.sources.all %}
	<li class="border--bottom mdc-layout-grid padding-0 margin--none">
    <a href="#"
       class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-{% if can_add_items %}9{% else %}10{% endif %} list--link margin--none">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">{{ source.name }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ source.isbn }}</div>
    </a>
    <div class="margin--none links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-2 list--link padding-0">
      <a href="{{ source.url }}" target="_blank" class="links--wrap mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        {% if source.url %}
        Visit site
        {% endif %}
      </a>
    </div>
    {% if can_add_items %}
      {% if request.user == source.user %}
      <button href="#" class="mdc-button mdc-button--icon center padding-8"
         aria-label="Remove result" title="Remove result" data-mdc-auto-init="MDCRipple">
        <i class="material-icons list--link-remove">clear</i>
      </button>
      {% else %}
      <button class="mdc-button center padding-8" disabled
         aria-label="Not accessible" title="Not accessible" data-mdc-auto-init="MDCRipple">
        <i class="material-icons list--link-inactive">lock_outline</i>
      </button>
      {% endif %}
    {% endif %}
	</li>
{% endfor %}
</ul>
{% else %}
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <div class="article width--full margin--top-16">
    <h1 class="mdl-color-text--accent section--title">No sources</h1>
    <p class="mdl-color-text--blue-grey-900">
      There are no sources yet. Use the '+ ADD' button to add more.
    </p>
  </div>
</div>
{% endif %}
