{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - My Projects{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% include "base/top_header.html" %}
    {% include "base/drawer.html" %}
    <main class="mdl-layout__content">
      <div class="page-content mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <p class="mdl-typography--headline mdl-color-text--blue-grey-600 subpageheader">My Projects</p>
          <button class="mdl-button mdl-js-button mdl-button--primary" id="new-project-button">
            <i class="material-icons">playlist_add</i> Add project
          </button>
          <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600" id="filter-button">
            <i class="material-icons">filter_list</i> Filter projects
          </button>
          <form method="post" id="new-project-form" class="new-project-form">
            {% csrf_token %}
            <div class="mdl-grid mdl-cell mdl-cell--12-col">
              <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="input-new-project--name" name="name" maxlength="255" {% if new_project_form.description.value %}value="{{ new_project_form.name.value }}"{% endif %}>
                  <label class="mdl-textfield__label" for="input-new-project--name">Project Name</label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="input-new-project--desc" name="description" maxlength="255"  {% if new_project_form.description.value %}value="{{ new_project_form.description.value }}"{% endif %}>
                  <label class="mdl-textfield__label" for="input-new-project--desc">Project Description</label>
                </div>
              </div>
            </div>
            <div class="mdl-grid mdl-cell mdl-cell--12-col new-project--area">
              <div class="mdl-layout-spacer"></div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <i class="material-icons">playlist_play</i>
                  Create Project
              </button>
              <div class="mdl-layout-spacer"></div>
            </div>
          </form>
          <form method="get" id="filter-form" class="filter-form">
            <div class="mdl-grid mdl-cell mdl-cell--12-col">
              <div class="mdl-cell mdl-cell--2-col">
                <p class="mdl-color-text--blue-grey-600 mdl-typography--subhead">Role</p>
                {% for role_value, role_label in roles_labels %}
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ forloop.counter }}">
                  <input type="checkbox" id="checkbox-{{ forloop.counter }}" name="role" value="{{ role_value }}" class="mdl-checkbox__input" {% if role_value in selected_roles %}checked{% endif %}>
                  <span class="mdl-checkbox__label">{{ role_label }}</span>
                </label>
                {% endfor %}
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-desktop">
                <p class="mdl-color-text--blue-grey-600 mdl-typography--subhead">Project name</p>
                <div class="mdl-textfield mdl-js-textfield alignment-fix--labels">
                  <input class="mdl-textfield__input" type="text" id="input-filter--name" name="name" value="{{ name_filter }}">
                  <label class="mdl-textfield__label" for="input-filter--name"></label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset-desktop">
                <p class="mdl-color-text--blue-grey-600 mdl-typography--subhead">Creation date</p>
                <div class="mdl-textfield mdl-js-textfield alignment-fix--labels">
                  Datepicker
                </div>
              </div>
            </div>
            <div class="mdl-grid mdl-cell mdl-cell--12-col filter-button--area">
              <div class="mdl-layout-spacer"></div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <i class="material-icons">playlist_play</i>
                  Apply
              </button>
              <div class="mdl-layout-spacer"></div>
            </div>
          </form>
        </div>
        {% if roles_list_page %}
            <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col" id="items_container">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric mdl-color-text--blue-grey-600">Project name</th>
                  <th class="mdl-data-table__cell--non-numeric mdl-color-text--blue-grey-600">Description</th>
                  <th class="mdl-cell--hide-phone mdl-color-text--blue-grey-600">Protocols</th>
                  <th class="mdl-cell--hide-phone mdl-color-text--blue-grey-600">Role</th>
                </tr>
              </thead>
              <tbody id="items_list">
                {% for role in roles_list_page %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric table--wrap"><a target="_blank" href="/projects/{{ role.project.unique_id }}">{{ role.project.name }}</a></td>
                  <td class="mdl-data-table__cell--non-numeric table--wrap">{{ role.project.description|truncatechars_html:97 }}</td>
                  <td class="mdl-cell--hide-phone">{{ role.project.protocols.count }}</td>
                  <td class="mdl-cell--hide-phone">{{ role.get_role_display }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
            FORMAT ME
            There are no  projects for the selected filters!
        {% endif %}

        <div class="mdl-cell mdl-cell--12-col mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-spinner mdl-js-spinner" id="loading"></div>
          <div class="mdl-layout-spacer"></div>
        </div>
        {% if paginator.num_pages > 1 %}
          <div class="mdl-cell mdl-cell--12-col mdl-grid" id="paginator">
            <div class="mdl-layout-spacer"></div>
            {% if roles_list_page.has_previous %}
            <a href="?page={{ roles_list_page.previous_page_number }}">
              <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">Previous</button>
            </a>
            {% endif %}
            {% if roles_list_page.number != 1 and roles_list_page.previous_page_number != 1 %}
            <a href="?page=1">
              <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">1</button>
            </a>
            {% endif %}
            {% if roles_list_page.previous_page_number|add:"-1" > 1 %}
            <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600" disabled>
            ...
            </button>
            {% endif %}
            {% if roles_list_page.has_previous %}
            <a href="?page={{ roles_list_page.previous_page_number }}">
              <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ roles_list_page.previous_page_number }}</button>
              <div id="previous_page_number" class="hidden">{{ roles_list_page.previous_page_number }}</div>
            </a>
            {% endif %}
            <button id="current_page_number" class="mdl-button mdl-js-button mdl-button--primary" disabled>
              {{ roles_list_page.number }}
            </button>
            {% if roles_list_page.has_next %}
            <a href="?page={{ roles_list_page.next_page_number }}">
              <button id="next_page_number" class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ roles_list_page.next_page_number }}</button>
            </a>
            {% endif %}
            {% if roles_list_page.next_page_number|add:"1" < paginator.num_pages %}
            <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600" disabled>
            ...
            </button>
            {% endif %}
            {% if roles_list_page.number != paginator.num_pages and roles_list_page.next_page_number != paginator.num_pages %}
            <a href="?page={{ paginator.num_pages }}">
              <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">{{ paginator.num_pages }}</button>
            </a>
            {% endif %}
            {% if roles_list_page.has_next %}
            <a id="paginator_next" href="?page={{ roles_list_page.next_page_number }}">
              <button class="mdl-button mdl-js-button mdl-color-text--blue-grey-600">Next</button>
            </a>
            {% endif %}
            <div id="total_pages" class="hidden">{{ paginator.num_pages }}</div>
            <div class="mdl-layout-spacer"></div>
          </div>
        {% endif %}
      </div>
      {% include "base/scroll_top.html" %}
    </main>
  </div>
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/infiniteScroll.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/filter.js" %}"></script>
{% endblock %}
