{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - {{ selected_project.name }}{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <h1 class="mdc-typography--headline mdl-color-text--light-blue-500 subpageheader">
        {{ selected_project.name }}
        <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">
          <span class="mdl-color-text--blue-grey-600">
            Label: {{ selected_project.get_label_display }} / Created on: {{ selected_project.datetime_created|date:"d M Y" }}
          </span>
        </p>
      </h1>
    </div>
    {% if can_update %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <a data-mdc-auto-init="MDCRipple"
         href="{% url 'update_project' project_uuid=selected_project.uuid %}"
         class="mdc-button mdl-color-text--blue-grey-600 subpageheader right">
        <i class="material-icons mdl-color-text--light-blue-500">edit</i> <span>Update project<span>
      </a>
    </div>
    {% endif %}
    <div class="article mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <h1 class="mdl-color-text--light-blue-500 section--title">Description</h1>
      <div class="mdc-textfield mdc-textfield--upgraded input--temp padding-0 mdc-typography--body1">
        {{ selected_project.description }}
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 padding--left-none">
      {% if 'section' in request.GET %}
        {% with section=request.GET.section %}
        {% ifequal section 'results' %}
          {% include "project_results.html" %}
        {% endifequal %}
        {% ifequal section 'protocols' %}
          {% include "project_protocols.html" %}
        {% endifequal %}
        {% ifequal section 'sources' %}
          {% include "project_sources.html" %}
        {% endifequal %}
        {% ifequal section 'participants' %}
          {% include "project_participants.html" %}
        {% endifequal %}
      {% endwith %}
    {% else %}
      {% include "project_results.html" %}
    {% endif %}
    </div>
  </div>
</div>
<div id="modal--protocols" class="modal visible mdc-layout-grid" data-request="add_protocols">
  <div class="article--modal padding-0 mdc-elevation--z16 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <header class="mdc-toolbar mdl-color--blue-500 mdc-elevation--z2">
      <div class="mdc-toolbar__row padding-16">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a data-mdc-auto-init="MDCRipple" data-trigger="close"  data-target="modal--protocols" class="mdc-button mdl-color-text--white">
            <i class="material-icons">close</i>
            <span class="toolbar__button-label">Cancel</span>
          </a>
        </section>
        <section class="mdc-toolbar__section">
          <span class="mdc-toolbar__title">Select protocols to add</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
          <a data-mdc-auto-init="MDCRipple" data-trigger="submit" data-target="modal--protocols" data-form="form--protocols" class="mdc-button mdl-color-text--white modal--button">
            <i class="material-icons">playlist_add</i>
            <span class="toolbar__button-label">ADD</span>
          </a>
        </section>
      </div>
    </header>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate width--full" data-type="loader"></div>
    <div id="add_protocols" class="modal--content">

    </div>
  </div>
</div>
<div id="modal--sources" class="modal visible mdc-layout-grid" data-request="add_sources">
  <div class="article--modal padding-0 mdc-elevation--z16 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <header class="mdc-toolbar mdl-color--blue-500 mdc-elevation--z2">
      <div class="mdc-toolbar__row padding-16">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a data-mdc-auto-init="MDCRipple" data-trigger="close"  data-target="modal--sources" class="mdc-button mdl-color-text--white">
            <i class="material-icons">close</i>
            <span class="toolbar__button-label">Cancel</span>
          </a>
        </section>
        <section class="mdc-toolbar__section">
          <span class="mdc-toolbar__title">Select sources to add</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
          <a data-mdc-auto-init="MDCRipple" data-trigger="submit" data-target="modal--sources" data-form="form--sources" class="mdc-button mdl-color-text--white modal--button">
            <i class="material-icons">playlist_add</i>
            <span class="toolbar__button-label">ADD</span>
          </a>
        </section>
      </div>
    </header>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate width--full" data-type="loader"></div>
    <div id="add_sources" class="modal--content">

    </div>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/infiniteScroll.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/addDataRequest.js" %}"></script>
{% endblock %}
