{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - Project Name{% endblock %}
{% block body %}
  <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {% include "base/top_header.html" %}
    {% include "base/drawer.html" %}
    <main class="mdl-layout__content">
      <div class="page-content mdl-grid">
        <div class="width--full">
          <h1 class="mdl-typography--headline mdl-color-text--blue-500 subpageheader">{{ selected_project.name }}</h1>
          <p class="mdl-typography--caption">Created on: {{ selected_project.datetime_created }}</p>
        </div>
        <div class="mdl-cell mdl-cell--9-col">
          <div class="mdl-card width--full">
            <div class="mdl-card__title mdl-color-text--blue-500">
              <h2 class="mdl-card__title-text">Description</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-900">
              {{ selected_project.description }}
            </div>
          </div>
          <div class="mdl-card width--full">
            <div class="mdl-card__title mdl-color-text--blue-500">
              <h2 class="mdl-card__title-text">Protocols</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-900">
              {% for protocol in selected_project.protocols.all %}
                {{ protocol.name }}<br/>{{ protocol.label }}<br/>{{ protocol.procedure.results }}<br/>{{ protocol.name }}<br/>{{ protocol.datetime_created }}<br/>{{ protocol.assets }}<br/>
              {% endfor %}
            </div>
          </div>
          <div class="mdl-card width--full">
            <div class="mdl-card__title mdl-color-text--blue-500">
              <h2 class="mdl-card__title-text">Sources</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-900">
              {% for source in selected_project.sources.all %}
                {{ source.name }}<br/>{{ source.url }}<br/>{{ source.isbn }}<br/>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-card">
            <div class="mdl-card__title mdl-color-text--blue-500">
              <h2 class="mdl-card__title-text">Participants</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {% for role_value, roles in participants_roles %}
                --- {{ role_value }}/s ---<br/>
                {% for role in roles %}
                  {{ role.researcher }} - {{ role.role }}<br/>
                {% endfor %}
              {% endfor %}
            </div>
            <div class="mdl-list">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">person</i>
                  <span>Bryan Cranston</span>
                </span>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
              </div>
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">person</i>
                  <span>Aaron Paul</span>
                </span>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
              </div>
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">person</i>
                  <span>Bob Odenkirk</span>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
              </span>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                See all participants
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block post_load %}
{% endblock %}
