<div class="border--bottom-blue padding--bottom-16">
  <span class="mdl-color-text--blue-500 article--modal-title padding-0">
    Participants
  </span>
</div>
<div class="mdc-layout-grid padding-0">
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-top padding-0">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-list mdl-color-text--blue-500">
      <p>Role</p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-list mdl-color-text--blue-500">
      <p>Email</p>
    </div>
    {% for role_value, roles in participants_by_role %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-list">
      <p>{{ role_value }}</p>
    </div>
    <ul class="mdc-list mdc-list--avatar-list mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
      {% for role in roles %}
      <li class="mdc-list-item">
        <a class="links--wrap participant-list--link" href="/userid/">
          <img class="mdc-list-item__start-detail" src="/static/front/img/ninja.png"
            width="56" height="56" alt="Avatar of {{ role.user }}">
          {{ role.user }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
  {% if request.user == selected_project.get_owner %}
  <div id="modal--participants"
       class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-top padding-0">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-list mdl-color-text--blue-500">
      <p>Invite participants</p>
    </div>
    <form method="post"
          action="{% url 'create_invitation' %}"
          id="email_input_source"
          class="hidden mdc-list">
      {% csrf_token %}
      <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
        <a data-trigger="remove-input" class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600 input--remove" data-mdc-auto-init="MDCRipple">
          <i class="material-icons mdl-color-text--blue-500 list--link-remove">close</i>
        </a>
        <div data-content="loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner input--remove-spinner"></div>
        <input type="text" name="email" class="mdc-textfield__input">
        <label class="mdc-textfield__label">Email address</label>
      </div>
      <div class="padding--top-8">
        <span class="mdc-typography--body mdl-color-text--blue-grey-600">Participant role:</span>
        <select class="mdc-select"
                name="role">
          {% for role, label in invitation_roles %}
          <option value="{{ role }}" {% if role == default_invitation_role.0 %}default selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <select class="hidden" name="project" value="{{ selected_project.uuid }}">
        <option selected value="{{ selected_project.uuid }}">{{ selected_project.uuid }}</option>
      </select>
      <div data-content="result" class="mdc-typography--caption result"></div>
    </form>
    <form method="post"
          action="{% url 'create_invitation' %}"
          class="mdc-list">
      {% csrf_token %}
      <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
        <a data-trigger="remove-input" class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600 input--remove" data-mdc-auto-init="MDCRipple">
          <i class="material-icons mdl-color-text--blue-500 list--link-remove">close</i>
        </a>
        <div data-content="loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner input--remove-spinner"></div>
        <input type="text" name="email" class="mdc-textfield__input">
        <label class="mdc-textfield__label">Email address</label>
      </div>
      <div class="padding--top-8">
        <span class="mdc-typography--body">Participant role:</span>
        <select class="mdc-select"
                name="role">
          {% for role, label in invitation_roles %}
          <option value="{{ role }}" {% if role == default_invitation_role.0 %}default selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <select class="hidden" name="project" value="{{ selected_project.uuid }}">
        <option selected value="{{ selected_project.uuid }}">{{ selected_project.uuid }}</option>
      </select>
      <div data-content="result" class="mdc-typography--caption result"></div>
    </form>
    <div class="padding--top-24">
      <a data-mdc-auto-init="MDCRipple"
         data-trigger="submit-ajax"
         data-target="modal--participants"
         data-form="participant_invite_form"
         class="mdc-button mdl-color-text--blue-grey-600">
        <i class="material-icons mdl-color-text--blue-500">playlist_add</i>
        Send
      </a>
      <a data-mdc-auto-init="MDCRipple"
         data-trigger="add-input"
         data-currentid="1"
         data-form="email_input_source"
         class="mdc-button mdl-color-text--blue-grey-600">
        <i class="material-icons mdl-color-text--blue-500">add</i>
        More
      </a>
    </div>
  </div>
  {% endif %}
</div>
