{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - My Projects{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline mdl-color-text--blue-500 subpageheader">
        My projects
      </h1>
      <a  data-mdc-auto-init="MDCRipple"
          class="mdc-button mdl-color-text--blue-grey-600"
          href="{% url 'create_project' %}">
        <i class="material-icons mdl-color-text--blue-500">playlist_add</i> Add project
      </a>
      <button data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600" data-trigger="filter" data-target="filter-form">
        <i class="material-icons mdl-color-text--blue-500">filter_list</i> Filter projects
      </button>
      <form method="get" id="filter-form" class="filter-form mdc-elevation--z4">
        <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">Search by project</p>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
              <input class="mdc-textfield__input"
                     type="text"
                     id="input-filter--name"
                     name="name"
                     {% if form.name.data %}value="{{ form.name.data }}"{% endif %}>
              <label class="mdc-textfield__label" for="input-filter--name">Project name</label>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
              <input class="mdc-textfield__input"
                     type="text"
                     id="input-filter--date-from"
                     name="created_from"
                     {% if form.created_from.data %}value="{{ form.created_from.data }}"{% endif %}>
              <label id="input-filter--date-from-label" class="mdc-textfield__label mdc-textfield__label--float-above" for="input-filter--date-from">
                <i class="material-icons right">arrow_drop_down</i> Created from:
              </label>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <div class="mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
              <input class="mdc-textfield__input"
                     type="text"
                     id="input-filter--date-to"
                     name="created_to"
                     {% if form.created_to.data %}value="{{ form.created_to.data }}"{% endif %}>
              <label id="input-filter--date-to-label" class="mdc-textfield__label mdc-textfield__label--float-above" for="input-filter--date-to">
                <i class="material-icons right">arrow_drop_down</i> Created to:
              </label>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">Search by user role</p>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <div class="mdc-form-field margin--top-8 wrap--checkboxes">
              {% for role_value, role_label in form.role.field.choices %}
                <div class="mdc-checkbox">
                  <input
                      type="checkbox"
                      id="checkbox-{{ forloop.counter }}"
                      name="role"
                      value="{{ role_value }}"
                      class="mdc-checkbox__native-control"
                      {% if role_value in form.role.data %}checked{% endif %}/>
                  <div class="mdc-checkbox__background">
                    <svg version="1.1" class="mdc-checkbox__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                      <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
                <label class="padding--right-16 label--hover" for="checkbox-{{ forloop.counter }}">{{ role_label }}</label>
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">Order by</p>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <select class="mdc-select margin--none margin--top-8" name="order_by">
                <option value="" default>Select order by</option>
                {% for key, value in form.order_by.field.choices %}
                <option value="{{ key }}" {% if form.order_by.data == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">Order type</p>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <select class="mdc-select margin--none margin--top-8" name="order_type">
                <option value="" default>Select order type</option>
                {% for key, value in form.order_type.field.choices %}
                <option value="{{ key }}" {% if form.order_type.data == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 filter-button--area padding-8 margin--none">
          <button data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600">
            <i class="material-icons mdl-color-text--blue-500">playlist_play</i>
              Apply filter
          </button>
          <button data-mdc-auto-init="MDCRipple" type="button" class="mdc-button mdl-color-text--blue-grey-600" data-trigger="filter" data-target="filter-form">
            <i class="material-icons mdl-color-text--blue-500">close</i>
              Close
          </button>
        </div>
      </form>
    </div>
    {% if roles_list_page %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <ul class="mdc-list padding-0">
        <li class="mdc-layout-grid border--bottom mdl-color-text--blue-500">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">Project name</div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">Description</div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">Created</div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Protocols</div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Role</div>
        </li>
      </ul>
      <ul class="mdc-list padding-0" id="items_list"
          data-mode="infinitescroll"
          data-pages="{{ paginator.num_pages }}"
          data-currentpage="{{ page_obj.number }}">
        {% for role in roles_list_page %}
        <li class="border--bottom">
          <a href="{% url 'project' project_uuid=role.project.uuid %}"
             class="margin--none links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 list--link">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">{{ role.project.name }}</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">{{ role.project.description|truncatechars_html:92 }}</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">{{ role.project.datetime_created|date:"d M Y" }}</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ role.project.protocols.count }}</div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ role.get_role_display }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="article width--full">
        <h1 class="mdl-color-text--accent section--title">No results</h1>
        <p class="mdl-color-text--blue-grey-900">
          Please update your search criteria and try again or use the default filter!
        </p>
      </div>
    </div>
    {% endif %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 center">
      <div class="mdl-spinner mdl-js-spinner" id="loading"></div>
    </div>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/infiniteScroll.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/datepicker/js/moment.min.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/datepicker/js/mdDateTimePicker.min.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/datepicker.js" %}"></script>
{% endblock %}
