<div class="border--bottom-blue padding--bottom-16">
  <span class="mdl-color-text--blue-500 article--modal-title padding-0">
    Protocols
  </span>
  {% if can_edit %}
  <button data-mdc-auto-init="MDCRipple"
          data-trigger="show"
          data-target="modal--protocols"
          data-ajax="addDataRequest"
          id="button-add"
          class="mdc-button mdl-color-text--blue-grey-600 right">
    <i class="material-icons mdl-color-text--blue-500">playlist_add</i> Add
  </button>
  {% endif %}
</div>
{% if protocols_with_permission %}
<ul class="mdc-list padding-0">
  <li class="mdc-layout-grid border--bottom mdl-color-text--blue-500 padding-0 margin--none">
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">Name</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">Owner</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Label</div>
    </div>
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1 center">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">Remove</div>
    </div>
  </li>
</ul>
<ul class="mdc-list padding-0">
  {% for protocol, has_role in protocols_with_permission %}
	<li class="border--bottom mdc-layout-grid padding-0 margin--none">
    {% if has_role %}
    <a href="{% url 'protocol' protocol_uuid=protocol.pk %}"
       class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 list--link margin--none">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">{{ protocol.name }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ protocol.get_owner }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ protocol.get_label_display }}</div>
    </a>
    {% if can_edit %}
    <button href="#" class="mdc-button mdc-button--icon center padding-8"
       aria-label="Remove result" title="Remove result" data-mdc-auto-init="MDCRipple">
      <i class="material-icons list--link-remove">clear</i>
    </button>
    {% endif %}
    {% else %}
    <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 list--link margin--none">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">{{ protocol.name }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ protocol.get_owner }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ protocol.get_label_display }}</div>
    </div>
    {% endif %}
	</li>
  {% endfor %}
</ul>
{% else %}
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <div class="article width--full margin--top-16">
    <h1 class="mdl-color-text--accent section--title">No protocols</h1>
    <p class="mdl-color-text--blue-grey-900">
      There are no protocols yet. Use the '+ ADD' button to add more.
    </p>
  </div>
</div>
{% endif %}
