{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - {{ selected_project.name }}{% endblock %}
{% block body %}
{% include "base/top_header.html" %}
{% include "base/drawer.html" %}
  <div class="page-content">
    <div class="mdc-layout-grid main-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdc-typography--headline mdl-color-text--blue-500 subpageheader">
          {{ selected_project.name }}
          <p class="mdc-typography--caption mdl-color-text--blue-grey-500">Created on: {{ selected_project.datetime_created }}</p>
        </h1>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
        <div class="article">
          <h1 class="mdl-color-text--blue-500 section--title">Description</h1>
          <p class="mdl-color-text--blue-grey-900">
            {{ selected_project.description }}
          </p>
        </div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdc-layout-grid">
          <div class="mdl-tabs__tab-bar mdc-layout-grid__cell mdc-layout-grid__cell--span-12 block">
            <a href="#results-panel" data-trigger="tab"  data-target="none" class="mdl-tabs__tab is-active padding--left-none">
              <h2 class="section--title">Results</h2>
            </a>
            <a href="#protocols-panel" data-trigger="tab"  data-target="modal--protocols" class="mdl-tabs__tab">
              <h2 class="section--title">Protocols</h2>
            </a>
            <a href="#sources-panel" data-trigger="tab" data-target="modal--sources" class="mdl-tabs__tab">
              <h2 class="section--title">Sources</h2>
            </a>
            {% if can_edit %}
            <button data-mdc-auto-init="MDCRipple" data-trigger="show" data-ajax="addDataRequest" id="button-add" class="mdc-button mdl-color-text--blue-grey-600 right hidden">
              <i class="material-icons mdl-color-text--blue-500">playlist_add</i> Add
            </button>
            {% endif %}
          </div>
          <div class="mdl-tabs__panel is-active mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none" id="results-panel">
            {% if results_page %}
            <ul class="mdc-list-group padding-0">
              <ul class="mdc-list">
                <li class="mdc-layout-grid mdc-list-item border--bottom mdl-color-text--blue-500 padding-0">
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 padding-0">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">Protocol</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">Created by</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">Created on</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">State</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Success</div>
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 text-center">
                    Modify
                  </div>
                </li>
              </ul>
              <ul class="mdc-list" id="items_list" data-mode="infinitescroll" data-pages="{{ paginator.num_pages }}">
                {% for result in results_page %}
          		  <li class="mdc-list-item border--bottom mdc-layout-grid padding-0">
                  <a href="/resultid/" class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 list--link padding-0">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ result.protocol }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">{{ result.owner }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">{{ result.datetime_created }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ result.get_state_display }}</div>
                    {% if result.is_successful == True %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdl-color-text--green-600 text-center">Yes</div>
                    {% else %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdl-color-text--pink-600 text-center">No</div>
                    {% endif %}
                  </a>
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1 padding-0">
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Edit result" title="Edit result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-edit">edit</i>
                    </button>
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Remove result" title="Remove result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-remove">clear</i>
                    </button>
                  </div>
            		</li>
                {% endfor %}
              </ul>
          	</ul>
            {% else %}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <div class="article width--full">
                <h1 class="mdl-color-text--accent section--title">No results</h1>
                <p class="mdl-color-text--blue-grey-900">
                  There are no results yet. Use the '+ ADD' button to add more.
                </p>
              </div>
            </div>
            {% endif %}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid">
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-spinner mdl-js-spinner is-active" id="loading"></div>
              <div class="mdl-layout-spacer"></div>
            </div>
          </div>
          <div class="mdl-tabs__panel mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none" id="protocols-panel">
            {% if selected_project.protocols.all %}
            <ul class="mdc-list-group padding-0">
              <ul class="mdc-list">
                <li class="mdc-layout-grid mdc-list-item border--bottom mdl-color-text--blue-500 padding-0">
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 padding-0">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">Name</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">Owner</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Label</div>
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 text-center">
                    Modify
                  </div>
                </li>
              </ul>
              <ul class="mdc-list">
                {% for protocol in selected_project.protocols.all %}
            		<li class="mdc-list-item border--bottom mdc-layout-grid padding-0">
                  <a href="/resultid/" class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-11 list--link padding-0">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">{{ protocol.name }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ protocol.get_owner }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ protocol.get_label_display }}</div>
                  </a>
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1 padding-0">
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Edit result" title="Edit result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-edit">edit</i>
                    </button>
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Remove result" title="Remove result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-remove">clear</i>
                    </button>
                  </div>
            		</li>
                {% endfor %}
              </ul>
          	</ul>
            {% else %}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <div class="article width--full">
                <h1 class="mdl-color-text--accent section--title">No protocols</h1>
                <p class="mdl-color-text--blue-grey-900">
                  There are no protocols yet. Use the '+ ADD' button to add more.
                </p>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="mdl-tabs__panel mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none" id="sources-panel">
            {% if selected_project.sources.all %}
            <ul class="mdc-list-group padding-0">
              <ul class="mdc-list">
                <li class="mdc-layout-grid mdc-list-item border--bottom mdl-color-text--blue-500 padding-0">
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">Name</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">ISBN</div>
                  </div>
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">Url</div>
                  </div>
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Modify</div>
                  </div>
                </li>
                {% for source in selected_project.sources.all %}
            		<li class="mdc-list-item border--bottom mdc-layout-grid padding-0">
                  <a href="/resultid/" class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-9 list--link padding-0">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">{{ source.name }}</div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ source.isbn }}</div>
                  </a>
                  <div class="links--wrap mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-2 list--link padding-0">
                    <a href="{{ source.url }}" target="_blank" class="links--wrap mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                      {% if source.url %}
                      Visit site
                      {% endif %}
                    </a>
                  </div>
                  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-1 padding-0">
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Edit result" title="Edit result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-edit">edit</i>
                    </button>
                    <button href="#" class="mdc-button mdc-button--icon mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
                       aria-label="Remove result" title="Remove result" data-mdc-auto-init="MDCRipple">
                      <i class="material-icons list--link-remove">clear</i>
                    </button>
                  </div>
            		</li>
              {% endfor %}
              </ul>
            </ul>
            {% else %}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <div class="article width--full">
                <h1 class="mdl-color-text--accent section--title">No sources</h1>
                <p class="mdl-color-text--blue-grey-900">
                  There are no sources yet. Use the '+ ADD' button to add more.
                </p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="article mdl-color-text--blue-500">
          <h1 class="section--title">
            Participants
            {% if can_edit %}
            <div class="mdl-layout-spacer"></div>
            <button data-trigger="filter-togglebtn" data-state="open" data-target="modal--participants" id="button--add-participants" class="mdc-button mdl-color-text--blue-grey-600 button--height-normal" data-mdc-auto-init="MDCRipple">
              <i data-content="open-close-icon" class="material-icons mdl-color-text--blue-500">playlist_add</i>
              <span data-content="open-close-text">Add</span>
            </button>
            {% endif %}
          </h1>
        </div>
        <div id="modal--participants" class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 filter-form">
          <form method="post" action="{% url 'create_invitation' %}" id="email_input_source" class="hidden">
            {% csrf_token %}
            <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
              <a data-trigger="remove-input" class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600 input--remove" data-mdc-auto-init="MDCRipple">
                <i class="material-icons mdl-color-text--blue-500 list--link-remove">close</i>
              </a>
              <div data-content="loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner input--remove-spinner"></div>
              <input type="text" name="email" class="mdc-textfield__input">
              <label class="mdc-textfield__label">Email address</label>
            </div>
            <span class="mdc-typography--body">Participant role:</span>
            <div class="mdc-select" role="listbox" tabindex="0" data-mdc-auto-init="MDCSelect">
              <span class="mdc-select__selected-text">Select role</span>
              <div class="mdc-simple-menu mdc-select__menu">
                <ul class="mdc-list mdc-simple-menu__items">
                  <li class="mdc-list-item" role="option" aria-selected tabindex="0" data-value="watcher">
                    Watcher
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0" data-value="contributor">
                    Contributor
                  </li>
                </ul>
              </div>
              <input class="hidden" data-content="email_input_source_role" name="role" value="watcher">
            </div>
            <select class="hidden" name="invitation_object" value="project">
              <option selected value="project">Project</option>
            </select>
            <select class="hidden" name="object_choice" value="{{ selected_project.unique_id }}">
              <option selected value="{{ selected_project.unique_id }}">{{ selected_project.unique_id }}</option>
            </select>
            <div data-content="result" class="mdc-typography--caption result"></div>
          </form>
          <form method="post" action="{% url 'create_invitation' %}">
            {% csrf_token %}
            <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
              <a data-trigger="remove-input" class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600 input--remove" data-mdc-auto-init="MDCRipple">
                <i class="material-icons mdl-color-text--blue-500 list--link-remove">close</i>
              </a>
              <div data-content="loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner input--remove-spinner"></div>
              <input type="text" name="email" class="mdc-textfield__input">
              <label class="mdc-textfield__label">Email address</label>
            </div>
            <span class="mdc-typography--body">Participant role:</span>
            <div class="mdc-select" role="listbox" tabindex="0" data-mdc-auto-init="MDCSelect">
              <span class="mdc-select__selected-text">Select role</span>
              <div class="mdc-simple-menu mdc-select__menu">
                <ul class="mdc-list mdc-simple-menu__items">
                  <li class="mdc-list-item" role="option" aria-selected tabindex="0" data-value="watcher">
                    Watcher
                  </li>
                  <li class="mdc-list-item" role="option" tabindex="0" data-value="contributor">
                    Contributor
                  </li>
                </ul>
              </div>
              <input class="hidden" data-content="email_input_source_role" name="role" value="watcher">
            </div>
            <select class="hidden" name="invitation_object" value="project">
              <option selected value="project">Project</option>
            </select>
            <select class="hidden" name="object_choice" value="{{ selected_project.unique_id }}">
              <option selected value="{{ selected_project.unique_id }}">{{ selected_project.unique_id }}</option>
            </select>
            <div data-content="result" class="mdc-typography--caption result"></div>
          </form>
          <div class="padding--top-24">
            <a data-mdc-auto-init="MDCRipple" data-trigger="submit-ajax" data-target="modal--participants" data-form="participant_invite_form" class="mdc-button mdl-color-text--blue-grey-600">
              <i class="material-icons mdl-color-text--blue-500">playlist_add</i>
              Send
            </a>
            <a data-mdc-auto-init="MDCRipple" data-trigger="add-input" data-currentid="1" data-form="email_input_source" class="mdc-button mdl-color-text--blue-grey-600">
              <i class="material-icons mdl-color-text--blue-500">add</i>
              More
            </a>
          </div>
        </div>
        <div class="article">
          <ul class="mdc-list mdc-list--avatar-list">
          {% for role_value, roles in participants_by_role %}
            <li class="mdc-list-item">{{ role_value }}</li>
            {% for role in roles %}
            <li class="mdc-list-item">
              <a class="links--wrap participant-list--link" href="/userid/">
                <img class="mdc-list-item__start-detail" src="/static/front/img/ninja.png"
                  width="56" height="56" alt="Avatar of {{ role.researcher }}">
                {{ role.researcher }}
              </a>
            </li>
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
      <div id="modal--protocols" class="modal mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 visible" data-request="protocols_to_add">
        <div class="article--modal width--full mdc-elevation--z16">
          <h1 class="article--modal-title mdl-color--blue-500 mdl-color-text--white">Add protocols</h1>
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate width--full" data-type="loader"></div>
          <div id="protocols_to_add" class="modal--content">

          </div>
          <div class="modal--button-container mdl-color--blue-500 mdl-shadow--8dp">
            <a data-mdc-auto-init="MDCRipple" data-trigger="submit" data-target="modal--protocols" data-form="form--protocols" class="mdc-button mdl-color-text--white modal--button">
              <i class="material-icons">playlist_add</i>
              ADD
            </a>
            <a data-mdc-auto-init="MDCRipple" data-trigger="close"  data-target="modal--protocols" class="mdc-button mdl-color-text--white">
              <i class="material-icons">close</i>
              Cancel
            </a>
          </div>
        </div>
      </div>
      <div id="modal--sources" class="modal mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 visible" data-request="sources_to_add">
        <div class="article--modal width--full mdc-elevation--z16">
          <h1 class="article--modal-title mdl-color--blue-500 mdl-color-text--white">Add sources</h1>
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate width--full" data-type="loader"></div>
          <div id="sources_to_add" class="modal--content">

          </div>
          <div class="modal--button-container mdl-color--blue-500 mdl-shadow--8dp">
            <a data-mdc-auto-init="MDCRipple" data-trigger="submit" data-target="modal--sources" data-form="form--sources" class="mdc-button mdl-color-text--white modal--button">
              <i class="material-icons">playlist_add</i>
              ADD
            </a>
            <a data-mdc-auto-init="MDCRipple" data-trigger="close"  data-target="modal--sources" class="mdc-button mdl-color-text--white">
              <i class="material-icons">close</i>
              Cancel
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include "base/scroll_top.html" %}
  </div>
{% endblock %}
{% block post_load %}
  <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script>window.mdc.autoInit();</script>
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/infiniteScroll.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/addDataRequest.js" %}"></script>
{% endblock %}
