{% if form.element_choices.field.queryset %}
<ul class="mdc-list padding-0">
  <li class="mdc-list-item border--bottom mdl-color-text--blue-500 mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Select</div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">Name</div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">Owner</div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">Label</div>
  </li>
</ul>
<form id="form--protocols" method="post" action="{% url 'project_add_protocols' project_uid=object.unique_id %}">
  {% csrf_token %}
  <ul class="mdc-list padding-0">
    {% for protocol in form.element_choices.field.queryset %}
    <li data-mdc-auto-init="MDCRipple" data-trigger="checkbox" data-target="checkbox_{{ protocol.unique_id }}"
        id="{{ protocol.unique_id }}"
        class="mdc-layout-grid mdc-list-item border--bottom list--link">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
        <div class="mdc-checkbox checkbox-fix">
          <input type="checkbox" name="element_choices" value="{{ protocol.unique_id }}" id="checkbox_{{ protocol.unique_id }}" class="mdc-checkbox__native-control"/>
          <div class="mdc-checkbox__background">
            <svg version="1.1" class="mdc-checkbox__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
              <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">{{ protocol.name }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">{{ protocol.get_owner }}</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">{{ protocol.get_label_display }}</div>
    </li>
    {% endfor %}
  </ul>
  <select class="hidden" name="element_type" value="p">
    <option selected value="p">Protocols</option>
    <option value="s">Sources</option>
    <option value="u">Participants</option>
  </select>
</form>
{% else %}
<div class="article width--full">
  <h1 class="mdl-color-text--accent section--title">No protocols</h1>
  <p class="mdl-color-text--blue-grey-900">
    You have no available protocols.
  </p>
</div>
{% endif %}
