<ul class="mdc-list margin--bottom-0">
  <li class="mdl-grid mdl-grid--no-spacing mdl-cell--hide-phone mdc-list-item border--bottom mdl-color-text--blue-500">
    <div class="mdl-grid mdl-cell mdl-cell--9-col">
      <div class="mdl-cell mdl-cell--8-col">Name</div>
      <div class="mdl-cell mdl-cell--4-col">ISBN</div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--2-col">
      <div class="mdl-cell mdl-cell--7-col">Url</div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--1-col">
      <div class="mdl-cell mdl-cell--1-col">Modify</div>
    </div>
  </li>
  {% for source in selected_project.sources.all %}
  <li class="mdc-list-item border--bottom mdl-grid mdl-grid--no-spacing">
    <a href="/resultid/" class="links--wrap mdl-grid mdl-cell mdl-cell--9-col list--link">
      <div class="mdl-cell mdl-cell--8-col">{{ source.name }}</div>
      <div class="mdl-cell mdl-cell--4-col">{{ source.isbn }}</div>
    </a>
    <div class="links--wrap mdl-grid mdl-cell mdl-cell--2-col list--link">
      <a href="{{ source.url }}" target="_blank" class="links--wrap mdl-cell mdl-cell--12-col">
        {% if source.url %}
        Visit site
        {% endif %}
      </a>
    </div>
    <div class="links--wrap mdl-grid mdl-cell mdl-cell--1-col mdl-cell--12-col-phone">
      <button class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600">
        <i class="material-icons list--link-edit">edit</i>
      </button>
      <button class="mdc-button mdc-button--icon mdl-color-text--blue-grey-600">
        <i class="material-icons list--link-remove">clear</i>
      </button>
    </div>
  </li>
  {% endfor %}
</ul>
