{% if sources_to_add %}
<ul class="mdl-list margin--bottom-0">
  <li class="mdl-grid mdl-cell--hide-phone mdl-list__item border--bottom mdl-color-text--blue-500">
    <div class="mdl-cell mdl-cell--1-col">Select</div>
    <div class="mdl-cell mdl-cell--4-col">Name</div>
    <div class="mdl-cell mdl-cell--2-col">ISBN</div>
    <div class="mdl-cell mdl-cell--5-col">URL</div>
  </li>
  <li>
    <ul class="mdl-list padding--top-none">
      {% for source in sources_to_add %}
      <li data-trigger="checkbox" data-target="checkbox_{{ protocol_role.protocol.unique_id }}" id="{{ protocol_role.protocol.unique_id }}" class="mdl-list__item border--bottom mdl-grid list--link">
        <div class="mdl-cell mdl-cell--1-col">
          <input type="checkbox" id="checkbox_{{ protocol_role.protocol.unique_id }}" class="checkbox">
        </div>
        <div class="mdl-cell mdl-cell--4-col">{{ source.name }}</div>
        <div class="mdl-cell mdl-cell--2-col">{{ source.isbn }}</div>
        <div class="mdl-cell mdl-cell--5-col">{{ source.url }}</div>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
{% else %}
<div class="mdl-card width--full">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mdl-color-text--accent">No sources</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-900">
    You have no available sources.
  </div>
</div>
{% endif %}
