/* Page layout */
.page-content {
  max-width: 1400px;
}
.alignment-fix--labels {
  padding-top: 0;
}
.width--full {
  width: 100%;
}
.margin--none {
  margin: 0;
}
.margin--left-0 {
  margin-left: 0;
}
.margin--bottom-16 {
  margin-bottom: 16px;
}
.margin--bottom-0 {
  margin-bottom: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.padding-40 {
  padding: 25px;
}
.padding--top-none {
  padding-top: 0;
}
.padding--bottom-8 {
  padding-bottom: 8px;
}
.padding--left-none {
  padding-left: 0;
}
.top-8 {
  top:8px;
}
/* Text */
.subpageheader {
  margin: 40px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*Borders*/
.border--bottom {
  border-bottom: 1px solid rgba(0,0,0,.2);
}
/*Links*/
a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
}
.links--wrap {
  white-space: normal;
}
/*Scroll to top*/
.scrollToTop-container {
  position: fixed;
  width: 70px;
  right: 0px;
  bottom: 40px;
  border-radius: 30px 0 0 30px;
  z-index: 9000;
}
/* user card */
.user-card--drawer {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 24px;
}
.user-card--avatar {
  width: 100px;
  height: 100px;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}
.user-card--name {
  text-align: center;
  margin-top: 24px;
}
/*Participants list*/
.mdl-list {
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
.participant-list {
  width: 100%;
}
.participant-list--link {
  display: block;
  width: 100%;
  padding: 8px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.participant-list--link:hover {
  color: #2196f3 !important;
}
.participant-list--avatar {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}
/*Protocol list*/
.protocol-list > div {
  padding-bottom: 16px;
}
/*Lists*/
.list--link {
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.list--link:hover {
  color: #2196f3;
}
.list--link-edit,.list--link-remove {
  font-size: 18px;
}
.list--link-edit:hover {
  color: #ff9800!important;
  cursor: pointer;
}
.list--link-remove:hover {
  color: #ff1744!important;
  cursor: pointer;
}

/* Filter */
.filter-form {
  display: none;
  padding-top: 20px;
}
.filter-button--area {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(0,0,0,.2);
}
.padding-fix--labels {
  padding: 25px 0;
}
.border--right-blue {
  border-right: 1px #448aff solid;
}
.padding--top-15 {
  padding-top: 5px;
}
/* New Project */
.new-project-form {
  display: none;
  padding-top: 20px;
}
.new-project--area {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(0,0,0,.2);
}
