.tbody input {
padding: 8px;
transition-duration: 0.28s;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background-color; }
.tbody .td:hover input {
background-color: #eeeeee; }
.col {
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.table input {
  outline: none;
  border: none;
  background: none;
}
.mdl-data-table__cell--non-numeric > input {
  text-align: left;
}
.table--border-right {
  border-right:1px solid rgba(0, 0, 0, 0.12);
}
.table--button {
  font-size: 10px;
  color: #9E9E9E;
}
.table--button:hover {
  color: #ff1744;
}


.table {
  display: table;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.thead {
  display: table-header-group;
}
.tbody {
  display: table-row-group;
}
.trow {
  display: table-row;
  position: relative;
  height: 48px;
}
.th {
  display: table-cell;
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 8px;
  border-bottom: none;
  box-sizing: border-box;
  padding: 12px 18px 12px 18px;
  min-width: 150px;
  white-space: nowrap;
}
.td {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 150px;
}
.td ul {
  padding: 0;
}
.td li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 16px;
}
.td input {
  /*text-align: right;*/
}
.col-indep:hover, .col:hover {
  background-color: #eeeeee;
}
