{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - Archiving {{ selected_protocol.name }}{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
{% load protocol_extras %}
{% load users_extras %}
<header class="mdc-toolbar mdl-color--red-300 mdc-toolbar--fixed">
  <div class="mdc-toolbar__row padding-16">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a data-mdc-auto-init="MDCRipple"
         class="mdc-button mdl-color-text--blue-grey-800"
         href="{% url 'protocols:protocol' protocol_uuid=selected_protocol.uuid %}">
        <i class="material-icons">close</i>
        <span class="toolbar__button-label">Cancel</span>
      </a>
    </section>
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title mdl-color-text--blue-grey-800">Archiving: {{ selected_protocol.name }}</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <button data-mdc-auto-init="MDCRipple"
         class="mdc-button mdl-color-text--blue-grey-800"
         href="{% url 'protocols:archive_protocol' protocol_uuid=object.uuid %}"
         data-trigger="submitSteps"
         data-form="form--protocol-edit">
        <i class="material-icons">check</i>
        <span class="toolbar__button-label">Archive</span>
      </button>
    </section>
  </div>
</header>
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid mdc-elevation--z8">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <h1 class="mdc-typography--headline mdl-color-text--orange-500 subpageheader">
        Archive protocol
      </h1>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="article mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdl-color-text--light-blue-500 section--title">Warning</h1>
        <div class="mdc-typography--body1">
          <p>
            You are about to archive protocol: <strong>{{ selected_protocol.name }}</strong>! <br>
            The protocol participants will no longer have access to it.
          </p>
        </div>
      </div>
      <form class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
            id="form--protocol-edit"
            method="post"
            action="{% url 'protocols:archive_protocol' protocol_uuid=object.uuid %}">
        {% csrf_token %}
      </form>
    </div>
  </div>
  {% include "base/footer.html" %}
</div>
<div class="mdc-snackbar mdl-color--red-500"
     aria-live="assertive"
     aria-atomic="true"
     aria-hidden="true" id="mdc-js-snackbar">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
<script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
<script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
<script>
  var MDCSnackbar = mdc.snackbar.MDCSnackbar;
  var snackbar = new MDCSnackbar(document.getElementById('mdc-js-snackbar'));
  var show = function(sb,notif) {
    var data =  {
      message: notif
    };
    sb.show(data);
  };
  </script>
{% endblock %}
