{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - Archived {{ selected_protocol.name }}{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
{% load protocol_extras %}
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid mdc-elevation--z8">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline mdl-color-text--green-500 subpageheader">
        ARCHIVE PROTOCOL
      </h1>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="article mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdl-color-text--light-blue-500 section--title">Success</h1>
        <div class="mdc-typography--body1">
          <p>
            Protocol <strong>{{ selected_protocol.name }}</strong> has been archived!
          </p>
        </div>
      </div>
    </div>
  </div>
  {% include "base/footer.html" %}
</div>
<div class="mdc-snackbar mdl-color--red-500"
     aria-live="assertive"
     aria-atomic="true"
     aria-hidden="true" id="mdc-js-snackbar">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
<script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
<script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
{% endblock %}
