{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - {{ selected_protocol.name }}{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid mdc-elevation--z8">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <h1 class="mdc-typography--headline mdl-color-text--orange-500 subpageheader">
        {{ selected_protocol.name }}
        <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">
          <span class="mdl-color-text--light-blue-300">
            CONTRIBUTING / KICKING ASS AND TAKING NAMES (OWNER) / WATCHING
          </span>
        </p>
        <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">
          <span class="mdl-color-text--blue-grey-600">
            Label: {{ selected_protocol.get_label_display }} / Created on: {{ selected_protocol.datetime_created|date:"d M Y" }} {{ role.get_role_display }}
          </span>
        </p>
      </h1>
    </div>
    {% if can_update %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <a data-mdc-auto-init="MDCRipple"
         href="{% url 'update_protocol' protocol_uuid=selected_protocol.uuid %}"
         class="mdc-button mdl-color-text--blue-grey-600 subpageheader right">
        <i class="material-icons mdl-color-text--light-blue-500">edit</i> <span>Update protocol<span>
      </a>
    </div>
    {% endif %}
    <div class="article mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <h1 class="mdl-color-text--light-blue-500 section--title">Description</h1>
      <div class="mdc-textfield mdc-textfield--upgraded input--temp padding-0 mdc-typography--body1">
        {{ selected_protocol.description }}
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 padding--left-none">
      {% if 'section' in request.GET %}
        {% with section=request.GET.section %}
        {% ifequal section 'procedure' %}
          {% include "protocol_procedure.html" %}
        {% endifequal %}
        {% ifequal section 'results' %}
          {% include "protocol_results.html" %}
        {% endifequal %}
        {% ifequal section 'assets' %}
          {% include "protocol_assets.html" %}
        {% endifequal %}
        {% ifequal section 'participants' %}
          {% include "protocol_participants.html" %}
        {% endifequal %}
      {% endwith %}
    {% else %}
      {% include "protocol_procedure.html" %}
    {% endif %}
    </div>
  </div>
  {% include "base/footer.html" %}
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
{% endblock %}
