{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sci Log - New protocol{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<header class="mdc-toolbar mdl-color--blue-500 mdc-toolbar--fixed">
  <div class="mdc-toolbar__row padding-16">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a data-mdc-auto-init="MDCRipple"
         class="mdc-button mdl-color-text--white"
         href="{% url 'protocols_list' %}">
        <i class="material-icons">close</i>
        Cancel
      </a>
    </section>
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title">Create new protocol</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <button data-mdc-auto-init="MDCRipple"
              data-trigger="submit"
              data-form="create_protocol_form"
              class="mdc-button mdl-color-text--white">
        <i class="material-icons">check</i>
          Save
      </button>
    </section>
  </div>
</header>
<div class="content">
{% include "base/drawer.html" %}
  <div class="main-grid mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1 class="mdc-typography--headline mdl-color-text--blue-500 subpageheader">
        Protocol details
      </h1>
      {% if form.nonfield_errors %}
      <div>
        {{ form.nonfield_errors }}
        {% endif %}
        {% if form.nonfield_errors %}
        {{ steps_formset.nonfield_errors }}
      </div>
      {% endif %}
      <form class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none padding-0"
            id="create_protocol_form"
            method="post"
            action="{% url 'create_protocol' %}">
        {% csrf_token %}
        {{ steps_formset.management_form }}
        <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none padding-0">
          <p class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdl-color-text--light-blue-500 mdc-typography--subhead">Name and label</p>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 margin--none">
            <div class="mdc-textfield {% if form.name.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
              <input class="mdc-textfield__input" type="text"
                     name="name"
                     maxlength="255" required {% if form.name.data %}value="{{ form.name.data }}"{% endif %}>
              <label class="mdc-textfield__label">Protocol name</label>
            </div>
            {% if form.name.errors %}
            <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
              {{ form.name.errors.as_text }}
            </p>
            {% else %}
            <p class="mdc-textfield-helptext" aria-hidden="true">
              This name will be displayed in the protocol list and on your protocol page. Maximum of 255 characters.
            </p>
            {% endif %}
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 margin--none">
            <div class="mdc-textfield select__protocol-label">
              <select class="mdc-select"
                      name="label">
                {% for key, value in form.label.field.choices %}
                  {% if key %}
                    <option value="{{ key }}"{% if key == form.label.data or key == form.label.value %}selected="selected"{% endif %}>{{ value }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid padding-0 margin--none">
          <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdc-layout-grid__cell mdc-layout-grid__cell--span-12 margin--none">
            <div class="mdl-tabs__tab-bar block">
              <a href="#steps-panel" data-trigger="tab"  data-target="none" class="mdl-tabs__tab is-active padding--left-none">
                <h2 class="section--title">Steps</h2>
              </a>
              <a href="#details-panel" data-trigger="tab" data-target="modal--details" class="mdl-tabs__tab">
                <h2 class="section--title">Details {% if form.description.errors %}<span class="mdl-color-text--red-500">*</span>{% endif %}</h2>
              </a>
            </div>
            <div class="mdl-tabs__panel is-active"
                 id="steps-panel">
              <ul class="mdc-list padding-0">
                {% for step_form in steps_formset.forms %}
                <li class="mdc-layout-grid border--bottom mdl-color-text--blue-500 padding-0 margin--none step"
                    data-step="0">
                  <!-- Order input -->
                  <input type="text" class="hidden"
                         data-content="step-input"
                         {% if step_form.order.data %}
                          name="steps-{{ step_form.order.data }}-order"
                          value="{{ step_form.order.data }}"
                         {% else %}
                          name="steps-0-order"
                          value="0"
                         {% endif %}>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--align-middle">
                    <div class="mdc-typography--display1 mdl-color-text--blue-500 text-center"
                         data-content="step-number">
                      {% if step_form.order.data %}
                        {{ step_form.order.data|add:"1" }}
                      {% else %}
                        1
                      {% endif %}
                    </div>
                    <div class="mdl-color-text--blue-grey-600 text-center">
                      STEP
                    </div>
                  </div>
                  <!-- Title input -->
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-11">
                    <div class="mdc-textfield {% if step_form.title.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
                      <input class="mdc-textfield__input" type="text"
                             data-content="step-title"
                             name="steps-0-title"
                             maxlength="255" {% if step_form.title.data %}value="{{ step_form.title.data }}"{% endif %}>
                      <label class="mdc-textfield__label">Step title</label>
                    </div>
                    {% if step_form.title.errors %}
                    <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
                      {{ step_form.title.errors.as_text }}
                    </p>
                    {% else %}
                    <p class="mdc-textfield-helptext" aria-hidden="true">
                      A short step title. Maximum of 255 characters.
                    </p>
                    {% endif %}
                    <!-- Text input -->
                    <div class="mdc-textfield mdc-textfield--multiline {% if step_form.text.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
                      <textarea class="mdc-textfield__input" rows="6" type="text"
                                data-content="step-desc"
                                name="steps-0-text"
                                maxlength="1024" required>{% if step_form.text.data %}{{ step_form.text.data }}{% endif %}</textarea>
                      <label class="mdc-textfield__label" for="input-new-step--desc">Step description</label>
                    </div>
                    {% if step_form.text.errors %}
                    <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
                      {{ step_form.text.errors.as_text }}
                    </p>
                    {% else %}
                    <p class="mdc-textfield-helptext" aria-hidden="true">
                      A short protocol description. Maximum length of 250 characters.
                    </p>
                    {% endif %}
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 padding-8">
                    <a data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600"
                       data-trigger="add-step-create">
                      <i class="material-icons mdl-color-text--blue-500">playlist_add</i> Insert new step
                    </a>
                    <a data-mdc-auto-init="MDCRipple" class="mdc-button mdl-color-text--blue-grey-600"
                       data-trigger="remove-step">
                      <i class="material-icons mdl-color-text--blue-500">close</i> Remove step
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="mdl-tabs__panel"
                 id="details-panel">
              <div class="mdc-textfield mdc-textfield--multiline {% if form.description.errors %}mdc-textfield--invalid{% endif %}" data-mdc-auto-init="MDCTextfield">
                <textarea class="mdc-textfield__input" rows="6" type="text"
                          id="input-new-protocol--desc"
                          name="description"
                          maxlength="2560">{% if form.description.data %}{{ form.description.data }}{% endif %}</textarea>
                <label class="mdc-textfield__label" for="input-new-protocol--desc">Protocol description</label>
              </div>
              {% if form.description.errors %}
              <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent mdc-textfield-helptext--validation-msg" role="alert">
                {{ form.description.errors.as_text }}
              </p>
              {% else %}
              <p id="nput-new-protocol--desc-helptext" class="mdc-textfield-helptext" aria-hidden="true">
               A short protocol description. Maximum length of 255 characters.
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="mdc-snackbar mdl-color--blue-500"
     aria-live="assertive"
     aria-atomic="true"
     aria-hidden="true" id="mdc-js-snackbar">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
  </div>
</div>
{% include "base/scroll_top.html" %}
{% endblock %}
{% block post_load %}
<script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
<script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
<script>
  var MDCSnackbar = mdc.snackbar.MDCSnackbar;
  var snackbar = new MDCSnackbar(document.getElementById('mdc-js-snackbar'));
  var show = function(sb) {
    var data =  {
      message: 'At least one step is required'
    };
    sb.show(data);
  };
  </script>
{% endblock %}
