<h1 class="mdl-color-text--blue-500 section--title border--bottom-blue padding--bottom-16">Assets</h1>
<div class="mdc-layout-grid padding-0">
  {% for asset_category_value, assets in assets_by_category %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 padding-0">
      <ul class="mdc-list">
        <li class="mdc-list-item mdl-color-text--blue-500">{{ asset_category_value }}</li>
      {% for asset in assets %}
        <li class="mdc-list-item">{{ asset.name }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
