<div class="border--bottom-blue padding--bottom-16">
  <span class="mdl-color-text--blue-500 article--modal-title padding-0">
    Procedure
  </span>
</div>
<ul class="mdc-list padding-0">
  {% for step in selected_protocol.procedure.steps %}
  <li class="mdc-layout-grid border--bottom padding-0 margin--none">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--align-middle">
      <div class="mdl-color-text--blue-grey-600 text-center">
        {{ forloop.counter }}
      </div>
      <div class="mdl-color-text--blue-grey-600 text-center">
        STEP
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-11">
      <p class="mdl-color-text--blue-500">
        {{ step.title }}
      </p>
      <p>
        {{ step.description }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
