{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Accept invitation{% endblock %}
{% block body %}
<div class="mdc-layout-grid main-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-elevation--z4 center">
    <div class="mdc-layout-grid margin--top-24">
      <div class="mdl-layout-spacer"></div>
      <img src="{% static "front/img/optimised.svg" %}" alt="logo">
      <span class="logo mdl-color-text--blue-grey-700">Sci Log</span>
      <div class="mdl-layout-spacer"></div>
    </div>
    <h1 class="mdc-typography--display2 mdl-color--blue-300 mdl-color-text--white login--message">
      Accept Invitation
    </h1>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        Hello, please review the invitation details and accept.
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul class="mdc-list padding-0">
          <li class="mdc-list-item"><p>Your email</p> {{ invitation.email }}</li>
          <li class="mdc-list-item">Invitation sender {{ invitation.inviter }}</li>
          <li class="mdc-list-item">
            {% if invitation.project %}
              Project {{ invitation.project }}
            {% elif invitation.protocol %}
              Protocol {{ invitation.protocol }}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="login--form">
      <form method="post" action="{% url 'accept_invitation' %}">
        {% csrf_token %}
        <button type="submit" class="mdc-button mdl-color-text--blue-grey-600 margin--top-24" data-mdc-auto-init="MDCRipple">
          <i data-content="open-close-icon" class="material-icons mdl-color-text--blue-500">playlist_add</i>
          <span data-content="open-close-text">Accept</span>
        </button>
      </form>
      {% if form.non_field_errors %}
      <div class="result error">
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
