{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Accept invitation{% endblock %}
{% block body %}
<div class="mdc-layout-grid main-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-elevation--z4 center">
    <div class="mdc-layout-grid margin--top-24">
      <div class="mdl-layout-spacer"></div>
      <img src="{% static "front/img/optimised.svg" %}" alt="logo">
      <span class="logo mdl-color-text--blue-grey-700">Sci Log</span>
      <div class="mdl-layout-spacer"></div>
    </div>
    <h1 class="mdc-typography--title mdl-color--blue-300 mdl-color-text--white login--message">
      You have been invited to participate in a
      {% if invitation.project %}
        project
      {% elif invitation.protocol %}
        protocol
      {% endif %}
      on SciLog
    </h1>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <ul class="mdc-list">
          <li class="mdc-list-item">
            <i class="mdc-list-item__start-detail material-icons mdl-color-text--blue-300">assignment</i>
            {% if invitation.project %}
              Project name
            {% elif invitation.protocol %}
              Protocol name
            {% endif %}
          </li>
            <li class="wrap--text list--alternative">
            {% if invitation.project %}
              {{ invitation.project }}
            {% elif invitation.protocol %}
              {{ invitation.protocol }}
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul class="mdc-list">
          <li class="mdc-list-item">
            <i class="mdc-list-item__start-detail material-icons mdl-color-text--blue-300">account_circle</i>
            Invitation sender
          </li>
          <li class="wrap--text list--alternative">{{ invitation.inviter }}</li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul class="mdc-list" style="flex-wrap: wrap;">
          <li class="mdc-list-item">
            <i class="mdc-list-item__start-detail material-icons mdl-color-text--blue-300" aria-hidden="true">email</i>
            Your email
          </li>
          <li class="wrap--text list--alternative">{{ invitation.email }}</li>
        </ul>
      </div>
    </div>
    <div class="login--form margin--top-24">
      <form method="post" action="{% url 'accept_invitation' %}">
        {% csrf_token %}
        <input class="hidden" name="key" value="{{ invitation.key }}" type="text" required />
        <button type="submit" class="width--full mdc-button mdc-button--raised mdl-color--blue-500 mdl-color-text--white" data-mdc-auto-init="MDCRipple">
          <i data-content="open-close-icon" class="material-icons mdl-color-text--white">done</i>
          <span data-content="open-close-text">Accept invitation</span>
        </button>
      </form>
      {% if form.non_field_errors %}
      <div class="result error">
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
