{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}SciLog - Accept invitation{% endblock %}
{% block body %}
{% include "base/toolbar.html" %}
<div class="mdc-layout-grid content">
{% include "base/drawer.html" %}
  <div class="mdc-layout-grid mdc-layout-grid__cell mdc-layout-grid__cell--span-12 main-grid mdc-elevation--z8">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1 class="mdc-typography--headline mdl-color-text--orange-500 subpageheader">
          My invitations
        </h1>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        {% if invitations_list %}
          <div class="mdc-layout-grid__inner border--bottom mdl-color-text--light-blue-500">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1"><p>Type</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"><p>Name</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"><p>Inviter</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"><p>Created</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 padding--left-16"><p>Status</p></div>
          </div>
            {% for invitation in invitations_list %}
          <div class="mdc-layout-grid__inner border--bottom">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1"><p>{{ invitation.get_item }}</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 wrap--text"><p>{{ invitation.get_item_name }}</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 wrap--text"><p>{{ invitation.inviter }}</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"><p>{{ invitation.datetime_created|date:"d M Y" }}</p></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1" data-content="invitation-button">
              {% if invitation.accepted %}
              <button class="mdc-button button--height-normal" disabled><p>Accepted</p></button>
              {% elif invitation.is_expired %}
              <button class="mdc-button button--height-normal" disabled><p>Expired</p></button>
              {% else %}
                <form method="post" action="{% url 'invitations:accept_invitation' uuid=invitation.uuid %}" class="relative">
                  <div data-content="loader" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner input--remove-spinner center--spinner"></div>
                  {% csrf_token %}
                  <input class="hidden" name="uuid" value="{{ invitation.uuid }}" type="text" required />
                  <a class="mdc-button mdl-color-text--light-blue-500 button--height-normal"
                     data-trigger="submit-ajax-invitation"
                     data-mdc-auto-init="MDCRipple">
                    <p>I Accept</p>
                  </a>
                </form>
              {% endif %}
          </div>
        </div>
            {% endfor %}
        {% else %}
        {% include "base/empty_states.html" with page_context_label="invitations" listed_item_name_in_body="invitation" %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include "base/footer.html" %}
</div>
{% endblock %}
{% block post_load %}
  <script type = "text/javascript" src="{% static "front/js/ajax.js" %}"></script>
  <script type = "text/javascript" src="{% static "front/js/triggers.js" %}"></script>
{% endblock %}
